<h1>Edit Blog</h1>
<h2>Edit <%= blogs.title %></h2>
<form action="/blogs/<%=blogs._id %>?_method=PUT"  method="POST">
    <label>Title</label>
    <input type="text" name="blog[title]" value="<%= blogs.title %>">
    <label>Image</label>
    <input type="text" name="blog[image]" value="<%= blogs.image %>">
    <label>Description</label>
    <input type="text" name="blog[description]" value="<%= blogs.description %>">
    <button type="submit">Submit</button>
</form>