<h1>All Blogs!!!</h1>
<a href="/blogs/new">new post</a>
<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>">
        <p><%= blog.createdDate.toDateString() %></p>
        <p><%= blog.description %></p>
        <a href="/blogs/<%= blog._id %>">Read More</a>
    </div>
    
<% }) %>